In [1]:
import os
import numpy as np
import pandas as pd
from glob import glob

In [2]:
pwd()

'/home/martinpella/Projects/imdb-review'

In [3]:
current_path = os.getcwd()

In [4]:
DATA_PATH = current_path + '/data'
train_path = DATA_PATH + '/train'
test_path = DATA_PATH + '/test'

In [5]:
train_reviews = []
test_reviews = []

In [6]:
def read_files(files, content_list):
    for file in files:
        opened_file = open(file, encoding='utf-8')
        content_list.append(opened_file.read())

In [7]:
read_files(glob(train_path + '/pos/*.txt'), train_reviews)
read_files(glob(train_path + '/neg/*.txt'), train_reviews)
read_files(glob(test_path + '/pos/*.txt'), test_reviews)
read_files(glob(test_path + '/neg/*.txt'), test_reviews)

In [8]:
print(len(train_reviews))
print(len(test_reviews))

25000
25000

In [9]:
def create_df(reviews):
    df = pd.DataFrame({'review': reviews})
    df['sentiment'] = 1
    df.loc[df.index[12500:25000], 'sentiment'] = 0
    return df

In [10]:
train_df = create_df(train_reviews)
test_df = create_df(test_reviews)

In [11]:
train_df.head()

                                              review  sentiment
0  Starlift is a pleasant and interesting throwba...          1
1  Armageddon PPV<br /><br />The last PPV of 2006...          1
2  Definitely spoilers in this review! I **adore*...          1
3  The most agile fat guy in martial arts does it...          1
4  I saw this film (it's English title is "Who's ...          1

In [12]:
test_df.head()

                                              review  sentiment
0  In this flame of emotion we are introduced to ...          1
1  This movie is BRILLIANT.<br /><br />I don't re...          1
2  Simply one of the best movies ever. If you won...          1
3  This movie is extremely funny and it also cont...          1
4  It is great to see a new batch of puppets crea...          1

In [13]:
print(train_df.shape)
print(test_df.shape)

(25000, 2)
(25000, 2)

In [14]:
train_df.to_csv(train_path + '/train_df.csv', index=False)
test_df.to_csv(test_path + '/test_df.csv', index=False)